@font-face {
    font-family: logo;
    src: url(logo.ttf);
}

@font-face {
    font-family: logo2;
    src: url(logo2.ttf);
}

@font-face {
    font-family: slogan;
    src: url(slogan.ttf);
}

@font-face {
    font-family: texts;
    src: url(texts.ttf);
}



body {
	background-color: #0e0e0e;
	margin: 0 auto;
	
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
								  
}

#content {
	margin-top: 5%;
}

a {
	text-decoration: none;
	color: #083E8E;
}

a:hover {
	color: #7F4001;
}

#slide1 {
	margin: 0 auto;
	background: url('../img/slide/banners/1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	border: 5px solid rgba(0, 0, 0, .6);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

#slide2 {
	background: url('../img/slide/banners/2.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	border: 5px solid rgba(0, 0, 0, .6);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

#slide3 {
	background: url('../img/slide/banners/3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	border: 5px solid rgba(0, 0, 0, .6);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

#slide4 {
	background: url('../img/slide/banners/4.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
	height: 100%;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	border: 5px solid rgba(0, 0, 0, .6);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

#slide5 {
	background: url('../img/slide/banners/5.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
	height: 100%;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	border: 5px solid rgba(0, 0, 0, .6);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

.slideshowbutton {
	cursor: pointer;
	font-size: 44px;
	color: #0e0e0e;
}

.slideshowbutton:hover {
	cursor: pointer;
	font-weight: bold;
	font-size: 44px;
	color: #2a2a2a;
}

#sBold {
	color: #3399ff;
}

@media screen and (max-width: 650px) {
	
	#lower {
		margin-top: 30%;
	}
	
	#header {
		margin: 0 auto;
		background-color: #dadada;
		opacity: 0.9;
		height: 50px;
	}
	
	a {
		text-decoration: none;
		color: #083E8E;
		font-size: 18px;
	}
	
	#logo {
		font-family: logo2;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 8px;
		padding-top: 3px;
	}

	#ilogo {
		color: #3399ff;
		font-size: 20px;
	}

	#logo-cont {
		font-size: 32px;
	}

	#slogan {
		display: none;
	}
	
	#menubar-mobile-logo-button {
		position: fixed;
		right: 15px;
		top: 15px;
		cursor: pointer;
		size: 1vh;
		background: url('../img/mobilemenu.png');
		background-size: 20px 20px;
		height: 20px;
		width: 20px;
	}
	
	#container {
		margin: 0 auto;
		/*border-radius: 0 0 10px 10px;*/
		background: url('../img/slide/1.jpg') no-repeat; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 100%;
		z-index: 1;
		min-height: 860px;
		height: auto;
	}
	
	#slidebuttons {
		display: none;
	}
	
	#slideshow {
		display: none;
	}	
	
	#sscontainer {
		display: none;
	}
	
	#menubar {
		display: none;
	}
	
	#menubar-float {
		display: none;
	}
	
	#menubar-float-mobile{
	  display: block;
		width: 100%;
		background-color: #dadada;
		height: 48px;
		list-style: none;
		display: flex;   /*center*/
		align-items: center; /*center*/
	  line-height: 35px;
	  color: #3c3c3c;
	  text-align: center;
	  position: fixed;
	  top: -60px;
	  left: 0px;
	  transition: top 0.3s ease-in;
	  opacity: 0.85;
	  z-index: 999;
	  padding-top: 8px;
	  padding-bottom: 4px;
	}
	
	#menubar-float-mobile-logo-text {

	}
	
	#menubar-float-mobile-logo-button {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	
	#menubar-float-mobile-logo-button span {
      font-size: 42px;
      color: #2A3D45;
	  cursor: pointer;
	}
	
	#menubar-float-mobile-logo {
		font-family: logo2;
		margin: 0 auto;
		text-align: center;
	}

	#menubar-float-mobile-ilogo {
		color: #3399ff;
		font-size: 5vw;
	}

	#menubar-float-mobile-logo-cont {
		font-size: 9vw;
		color: #000000;
	}

	#menubar-float-mobile-slogan {
		font-family: slogan;
		color: #7c7c7c;
		font-size: 4vw;
	}

	#menubar-float-mobile li a {	
		float: left;
		text-decoration: none;
		color: white;
		font-weight: bold;
		font-family: texts;
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}

	#menubar-float-mobile li a:hover {
		background-color: #3399ff;
		color: white;
	}

	#menubar-float-mobile li a:active {
		background-color: #e9e9e9;
		color: #2a2a2a;
	}

	#menubar-float-mobile.active {
		top: 0px;
	}
	
	#mainbg {
		border-radius: 2px;
		border: 5px solid rgba(0, 0, 0, .6);
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box;
		background: rgba(255, 255, 255, .5);
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		min-height: 350px;
		height: auto;
	}

	#main {
		padding-top: 20px;
		width: 100%;
		height: auto;
		padding-bottom: 20px;
	}

	#table-text {
		font-family: texts;
		color: #2a2a2a;
		margin: 0 auto;
	}

	#centered {
		margin: 0 auto;
		z-index: 3;
		width: 70%;
		position: relative;
		text-align: center;
		padding-left: 8px;
		padding-right: 8px;
	}

	#title {
		margin: 0 auto;
		font-family: slogan;
		font-size: 30px;
		color: #1C1C1C;
		font-weight: bold;
		border-radius: 2px;
		border: 5px solid rgba(0, 0, 0, .6);
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box;
		background: rgba(169,171,172, .5);
		border-left: 0;
		border-right: 0;
	}
	
	#footer {
		width: 100%;
		background: #0e0e0e;
		color: #e6e6e6;
		text-align: center;
		font-family: texts;
		font-size: 3vw;
		line-height: 35px;
	}
	
	
	
	
	.right-menu {
		position: fixed;
		top: 0px;
		right: 0px;
    	height: 100vh;
		width: 250px;
	    background: #404040;
		border: 5px solid white;  
		border-image-source: linear-gradient(gray, silver, gray, black, white);
		border-image-slice: 20;
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
        margin: 0;
        padding: 0;
  }
 
	.right-menu ul {
	    list-style: none;
		text-align: center;
		padding: 0px;
  }
 
    .right-menu li {
		text-decoration: none;
		color: white;
		font-weight: bold;
		font-family: texts;
		font-size: 16px;
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 10px;
		padding-top: 10px;
		margin-bottom: 4px;
  }
 
	.right-menu hr {
		border: 0; 
		height: 1px; 
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
	}
 

}

@media screen and (min-width: 650px) {
	
	#lower {
		margin-top: 10%;
	}

	#header {
		margin: 0 auto;
		background-color: #dadada;
		opacity: 0.9;
	}

	#logo {
		font-family: logo2;
		margin: 0 auto;
		text-align: center;
	}

	#ilogo {
		color: #3399ff;
		font-size:48px;
	}

	#logo-cont {
		font-size: 60px;
	}

	#slogan {
		font-family: slogan;
		color: #7c7c7c;
	}
	
	#container {
		margin: 0 auto;
		/*border-radius: 0 0 10px 10px;*/
		background: url('../img/slide/1.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 100%;
		z-index: 1;
		min-height: 560px;
		padding-bottom: 400px;
	}	
	
	#slidebuttons {
		float: center;
		margin: 0 auto;
		text-align: center;
		width: 70%;
	}
	
	#slideshow {
		z-index: 2;
	}
	
	#sscontainer {
		display: block;
	}
	
	#menubar {
		width: 100%;
		background-color: #0e0e0e;
		height: 35px;
		list-style: none;
		display: flex;   /*center*/
		align-items: center; /*center*/
		line-height: 35px;
		opacity: 0.85;
	}

	#menubar li a {	
		float: left;
		text-decoration: none;
		color: white;
		font-weight: bold;
		font-family: texts;
		font-size: 13px;
		padding-left: 12px;
		padding-right: 12px;
	}

	#menubar li a:hover {
		background-color: #3399ff;
		color: white;
	}

	#menubar li a:active {
		background-color: #e9e9e9;
		color: #2a2a2a;
	}

	#menubar-float{
		min-width: 650px;
	  display: block;
		width: 100%;
		background-color: #0e0e0e;
		height: 35px;
		list-style: none;
		display: flex;   /*center*/
		align-items: center; /*center*/
	  line-height: 35px;
	  color: #3c3c3c;
	  text-align: center;
	  position: fixed;
	  top: -35px;
	  left: 0px;
	  transition: top 0.3s ease-in;
	  opacity: 0.85;
	  z-index: 999;
	}

	#menubar-float li a {	
		float: left;
		text-decoration: none;
		color: white;
		font-weight: bold;
		font-family: texts;
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}

	#menubar-float li a:hover {
		background-color: #3399ff;
		color: white;
	}

	#menubar-float li a:active {
		background-color: #e9e9e9;
		color: #2a2a2a;
	}

	#menubar-float.active {
		top: 0px;
	}
	
	#menubar-float-mobile {
		display: none;
	}

	#minilogo {
		position: absolute;
		right: 15px;
		top: 0px;
		font-family: logo2;
		padding-left: 5px;
		padding-right: 5px;
		cursor: pointer;
	}

	#mini-ilogo {
		clear: both;
		color: #3399ff;
		font-size: 12px;
	}

	#mini-logo-cont {
		font-size: 18px;
		color: white;
	}
	
	#mainbg {
		border-radius: 2px;
		border: 5px solid rgba(0, 0, 0, .6);
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box;
		background: rgba(255, 255, 255, .5);
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		min-height: 350px;
	}

	#main {
		padding-top: 20px;
		width: 100%;
		height: 100%;
	}

	#table-text {
	font-family: texts;
	color: #2a2a2a;
	margin: 0 auto;
	font-size: 14px;
	width: 80%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	min-width: 400px;
	}
	
	#centered {
	margin: 0 auto;
	z-index: 3;
	height: 50%;
	width: 70%;
	position: relative;
	text-align: center;
	}
	
	#title {
		margin: 0 auto;
		font-family: slogan;
		font-size: 30px;
		color: #1C1C1C;
		font-weight: bold;
		border-radius: 2px;
		border: 5px solid rgba(0, 0, 0, .6);
		
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box;
		background-color: white;
		background: rgba(169,171,172, .5);
	}

	#footer {
		width: 100%;
		background: #0e0e0e;
		color: #e6e6e6;
		text-align: center;
		font-family: texts;
		font-size: 12px;
		line-height: 35px;
	}
	
	a {
		text-decoration: none;
		color: #083E8E;
		font-size: 24px;
	}
	
	.right-menu {
		display: none;
	}
	
	.nav-icon {
		display: none;
	}
	
	#menubar-mobile-logo-button {
		display: none;
	}

}
